<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-success">GET</span>
    </div>
    <div class="col-5 copyable testable">
        <code>/api/vehicle/taxrecords/check</code>
    </div>
    <div class="col-3">
        Updates Outdated Recurring Tax Records
    </div>
    <div class="col-3">
        No Params
    </div>
</div>