<div class="flex items-center justify-between">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">General category</h2>
</div>
<hr class="md:hidden border-gray-200 dark:border-gray-800 mt-4"/>
<div class="pt-6 md:py-8">
    <p class="mb-2">
        As stated in the <a class="font-semibold text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300" href="/API">API overview</a>,
        this category contains routes that are mostly used for utilities and general purpose tasks. Here's the list:
    </p>
    <ul role="list" class="list-inside list-disc pl-2 mb-6">
        <li><b>Clean up temp files</b>: a route that makes the server clean up temporary files when called;</li>
        <li><b>Get current user</b>: a route that returns information about the current user connected;</li>
        <li><b>Get current version</b>: a route that returns information about the current version deployed;</li>
        <li>and <b>Make a backup</b>: a route that makes the server create a save.</li>
    </ul>
</div>