<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-success">GET</span>
    </div>
    <div class="col-5 copyable testable">
        <code>/api/version</code>
    </div>
    <div class="col-3">
        Returns current version of LubeLogger and checks for updates
    </div>
    <div class="col-3">
        CheckForUpdate(bool) - checks for update(optional)
    </div>
</div>