<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-success">GET</span>
    </div>
    <div class="col-5 copyable testable">
        <code>/api/whoami</code>
    </div>
    <div class="col-3">
        Returns information for current user
    </div>
    <div class="col-3">
        No Params
    </div>
</div>