<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-success">GET</span>
    </div>
    <div class="col-5 copyable">
        <code>/api/vehicle/adjustedodometer</code>
    </div>
    <div class="col-3">
        Returns odometer reading with adjustments applied
    </div>
    <div class="col-3">
        vehicleId - Id of Vehicle
        <br />
        odometer - Unadjusted odometer
    </div>
</div>