<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-success">GET</span>
    </div>
    <div class="col-5 copyable">
        <code>/api/vehicle/odometerrecords</code>
    </div>
    <div class="col-3">
        Returns a list of odometer records for the vehicle
    </div>
    <div class="col-3">
        vehicleId - Id of Vehicle
    </div>
</div>