<div class="flex items-center justify-between">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Services category</h2>
</div>
<hr class="md:hidden border-gray-200 dark:border-gray-800 mt-4"/>
<div class="pt-6 md:py-8">
    <p class="mb-2">
        This category is the parent to four basic CRUD routes, that applies to the Service records for a vehicle in the
        app. With routes in this category, you can:
    </p>
    <ul role="list" class="list-inside list-disc pl-2 mb-6">
        <li>add a service record;</li>
        <li>delete a service record;</li>
        <li>get the list of service records for one vehicle;</li>
        <li>and update a service record.</li>
    </ul>
</div>
