<div class="row api-method">
    <div class="col-1">
        <span class="badge text-bg-danger">DELETE</span>
    </div>
    <div class="col-5 copyable">
        <code>/api/vehicle/gasrecords/delete</code>
    </div>
    <div class="col-3">
        Deletes Gas Record
    </div>
    <div class="col-3">
        Id - Id of Gas Record
    </div>
</div>