<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-primary">POST</span>
    </div>
    <div class="col-5 copyable">
        <code>/api/documents/upload</code>
    </div>
    <div class="col-3">
        Upload Documents
    </div>
    <div class="col-3">
        Body(form-data): {<br />
        documents[] - Files to Upload<br />
        }
    </div>
</div>
