@using CarCareTracker.Helper
@{
    ViewData["Title"] = "API";
}
@inject IConfigHelper config
@section Nav { API documentation }
@* If authentication is enabled, use the credentials of the user for Basic Auth(RFC2617) *@
<div class="flex gap-8">
    <div class="hidden md:block w-64">
        @await Html.PartialAsync("_DocMenu")
    </div>

    <div class="px-4 w-full">
        <div class="flex items-center justify-between">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">WindLogger API Overview</h2>
        </div>
        <hr class="md:hidden border-gray-200 dark:border-gray-800 mt-4" />
        <div class="py-4">
            <p>Description text about the API and how its documentation is organised. If you are watching this page on a mobile device, you should see a button to browse other pages below this text.</p>
        </div>
    </div>
</div>
<script>
    $('.copyable').on('click', function (e) {
        if (e.ctrlKey || e.metaKey){
            let targetElement = $(e.currentTarget);
            if (targetElement.hasClass("testable")){
                window.location = targetElement.text().trim();
            }
        } else {
            copyToClipboard(e.currentTarget);
        }
    })
</script>
