<div class="row api-method">
    <div class="col-1">
        <span class="badge text-bg-warning">PUT</span>
    </div>
    <div class="col-5 copyable">
        <code>/api/vehicle/reminders/update</code>
    </div>
    <div class="col-3">
        Updates Reminder Record
    </div>
    <div class="col-3">
        Body(form-data): {<br />
        Id - Id of Reminder Record<br />
        description - Description<br />
        dueDate - Due Date<br />
        dueOdometer - Due Odometer reading<br />
        metric - Date/Odometer/Both<br />
        notes - notes(optional)<br />
        tags - tags separated by space(optional)<br />
        }
    </div>
</div>