@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
@model string
@{
    ViewData["Title"] = "Garage";
}
@section Scripts {
    <script src="~/js/settings.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/js/supplyrecord.js?v=@StaticHelper.VersionNumber"></script>
    <script src="~/lib/drawdown/drawdown.js"></script>
}
@section Nav { @translator.Translate(userLanguage, "Garage") }

<div class="container">
    <div class="tab-content">
        <div class="tab-pane fade @(Model == "garage" ? "show active" : "")" id="garage-tab-pane" role="tabpanel" tabindex="0">
            <div id="garageContainer">

            </div>
        </div>
        <div class="tab-pane fade" id="supply-tab-pane" role="tabpanel" tabindex="0">
        </div>
    </div>
</div>

<div class="modal fade" id="addVehicleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="addVehicleModalContent">
        </div>
    </div>
</div>
<div class="modal fade" id="bulkImportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="bulkImportModalContent">
        </div>
    </div>
</div>
<div class="stickerPrintContainer hideOnPrint">
</div>

<script>
    loadGarage();
</script>
