@using CarCareTracker.Helper
@inject IConfigHelper config
@inject ITranslationHelper translator
@{
    ViewData["Title"] = "Kiosk";
    
    var userConfig = config.GetUserConfig(User);
    var userLanguage = userConfig.UserLanguage;
}
@section Scripts {
    <script src="~/lib/drawdown/drawdown.js"></script>
}
@section Nav { 
    <h1>@translator.Translate(userLanguage, "Kiosk")</h1>
    <span id="refresh-wheel" class="ml-4 text-white dark:text-gray-800 transition-all duration-1000"><heroicon kind="Mini" name="ArrowPath" class="size-3 animate-spin duration-1000"/></span>
}
@model KioskViewModel
<div id="kioskContainer" class="container-fluid"></div>
<script>
    let refreshTimer;
    let exceptionList = [];
    let currentAmount = 600;
    let kioskMode = '@Model.KioskMode';
    let currentKioskMode = 'Plan';
    let kioskWakeLock;

    @foreach(int exception in Model.Exclusions)
    {
        @:exceptionList.push(@exception);
    }

    function initKiosk() {
        retrieveKioskContent();
        //acquire wakeLock;
        try {
            navigator.wakeLock.request('screen').then((wl) => {
                kioskWakeLock = wl;
            });
        } catch (err) {
            errorToast('Location Services not Enabled');
        }
    }
    function setAccessToken(accessToken){
        //use this function to never worry about user session expiring.
        $.ajaxSetup({
            headers: {
                'Authorization': `Basic ${accessToken}`
            }
        });
        console.log("Access Token for Kiosk Mode Configured!");
    }
    function retrieveKioskContent(){
        clearInterval(refreshTimer);
        if (kioskMode != 'Cycle'){
            $.post('/Home/KioskContent', { exclusions: exceptionList, kioskMode: kioskMode }, function (data) {
                $("#kioskContainer").html(data);
                if ($(".no-data-message").length == 0) {
                    currentAmount = 600;
                    setTimeout(function () { startTimer() }, 500);
                }
            });
        } else {
            //cycle mode
            switch (currentKioskMode) {
                case "Vehicle":
                    currentKioskMode = "Reminder";
                    break;
                case "Reminder":
                    currentKioskMode = "Plan";
                    break;
                case "Plan":
                    currentKioskMode = "Vehicle";
                    break;
            }
            $.post('/Home/KioskContent', { exclusions: exceptionList, kioskMode: currentKioskMode }, function (data) {
                $("#kioskContainer").html(data);
                if ($(".no-data-message").length > 0) {
                    //if no data on vehicle page
                    if (currentKioskMode == "Vehicle") {
                        return; //exit
                    } else {
                        retrieveKioskContent(); //skip until we hit a page with content.
                    }
                } else {
                    currentAmount = 600;
                    setTimeout(function () { startTimer() }, 500);
                }
            });
        }
        
    }
    function startTimer() {
        refreshTimer = setInterval(function () {
            currentAmount--;
            
            if (currentAmount === 30) { // Display the refresh wheel for 3 seconds
                let refreshWheel = $("#refresh-wheel")[0];
                refreshWheel.classList.remove('text-white');
                refreshWheel.classList.remove('dark:text-gray-800');
                refreshWheel.classList.add('text-gray-700');
                refreshWheel.classList.add('dark:text-gray-300');
            } else if (currentAmount === 10) {
                let refreshWheel = $("#refresh-wheel")[0];
                refreshWheel.classList.remove('text-gray-700');
                refreshWheel.classList.remove('dark:text-gray-300');
                refreshWheel.classList.add('text-white');
                refreshWheel.classList.add('dark:text-gray-800');
            } else if (currentAmount === 0) {
                retrieveKioskContent();
            }
        }, 100);
    }
    function addVehicleToExceptionList(vehicleId) {
        Swal.fire({
            title: "Remove Vehicle from Dashboard?",
            text: "Removed vehicles can be restored by refreshing the page",
            showCancelButton: true,
            confirmButtonText: "Remove",
            confirmButtonColor: "#dc3545"
        }).then((result) => {
            if (result.isConfirmed) {
                exceptionList.push(vehicleId);
                if (kioskMode == 'Cycle') {
                    //remove the vehicle programmatically.
                    $(`[data-vehicleId=${vehicleId}]`).remove();
                } else {
                    //force a refresh
                    retrieveKioskContent();
                }
            }
        });
    }
    initKiosk();
</script>