<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-primary">POST</span>
    </div>
    <div class="col-5 copyable">
        <code>/api/vehicle/repairrecords/add</code>
    </div>
    <div class="col-3">
        Adds Repair Record to the vehicle
    </div>
    <div class="col-3">
        vehicleId - Id of Vehicle
        <br />
        Body(form-data): {<br />
        date - Date to be entered<br />
        odometer - Odometer reading<br />
        description - Description<br />
        cost - Cost<br />
        notes - notes(optional)<br />
        tags - tags separated by space(optional)<br />
        extrafields - <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover reminder-calendar-item" onclick="showExtraFieldsInfo()">extrafields(optional)</a><br />
        files - <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover reminder-calendar-item" onclick="showAttachmentsInfo()">attachments(optional)</a><br />
        }
    </div>
</div>
<script>
    function showExtraFieldsInfo(){
        Swal.fire({
            title: "Format for Extra Fields",
            html: "extrafields[i][name] - Name of Extra Field<br/>extrafields[i][value] - Value of Extra Field<br/>i is an integer that starts at 0 and increments with each extrafield",
            icon: "info"
        });
    }
    function showAttachmentsInfo(){
        Swal.fire({
            title: "Attaching Files",
            html: "The Document Upload Endpoint will upload the files and provide a formatted output which you can pass into this method",
            icon: "info"
        });
    }
</script>
