<div class="flex items-center justify-between">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Odometer category</h2>
</div>
<hr class="md:hidden border-gray-200 dark:border-gray-800 mt-4"/>
<div class="pt-6 md:py-8">
    <p class="mb-2">
        This category is the parent to four basic CRUD routes and two other, that applies to the Odometer records for a
        vehicle in the app. With routes in this category, you can:
    </p>
    <ul role="list" class="list-inside list-disc pl-2 mb-6">
        <li>add an odometer record;</li>
        <li>delete an odometer record;</li>
        <li>get the adjusted odometer value for one vehicle;</li>
        <li>get the latest odometer record for one vehicle;</li>
        <li>get the list of odometer records for one vehicle;</li>
        <li>and update an odometer record.</li>
    </ul>
</div>