<div class="row api-method">
    <div class="col-1">
        <span class="badge bg-success">GET</span>
    </div>
    <div class="col-5 copyable testable">
        <code>/api/vehicle/info</code>
    </div>
    <div class="col-3">
        Returns details for list of vehicles or specific vehicle
    </div>
    <div class="col-3">
        VehicleId - Id of Vehicle(optional)
    </div>
</div>