<div class="flex items-center justify-between">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Vehicles category</h2>
</div>
<hr class="md:hidden border-gray-200 dark:border-gray-800 mt-4"/>
<div class="pt-6 md:py-8">
    <p class="mb-2">
        This category contains two routes and a set of sub-categories. All the routes in this category and its
        sub-categories take effect on one ore more of the vehicles registered in the system. Here's the list of what
        can be found in this category:
    </p>
    <ul role="list" class="list-inside list-disc pl-2 mb-6">
        <li><b>Gas category</b>: a category containing routes you can call to control the fuel put in a vehicle;</li>
        <li><b>Get vehicle list route</b>: a route that returns the list of vehicles;</li>
        <li><b>Get vehicle(s) info route</b>: a route that returns information about one ore more selected vehicles;</li>
        <li><b>Odometer category</b>: a category containing routes you can call to control the mileage of a vehicle;</li>
        <li><b>Plans category</b>: a category containing routes you can call to control what is planned to be done for a vehicle;</li>
        <li><b>Reminders category</b>: a category containing routes you can call to control the reminders for a vehicle;</li>
        <li><b>Repairs category</b>: a category containing routes you can call to control the repairs for a vehicle;</li>
        <li><b>Services category</b>: a category containing routes you can call to control the services for a vehicle;</li>
        <li><b>Taxes category</b>: a category containing routes you can call to control the taxes payed for a vehicle;</li>
        <li>and the <b>Upgrades category</b>: a category containing routes you can call to control the upgrades for a vehicle.</li>
    </ul>
</div>