<div class="row api-method">
    <div class="col-1">
        <span class="badge text-bg-danger">DELETE</span>
    </div>
    <div class="col-5 copyable">
        <code>/api/vehicle/planrecords/delete</code>
    </div>
    <div class="col-3">
        Deletes Plan Record
    </div>
    <div class="col-3">
        Id - Id of Plan Record
    </div>
</div>